name: CI

on:
  push:
    branches: [ master ]
  pull_request:
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'
      - run: yarn
      - run: yarn lint

  snapshot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
      - name: Check snapshot
        run: FOUNDRY_PROFILE=default forge snapshot --check --no-match-test "testFuzz_*"

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
      - name: Run tests
        run: FOUNDRY_PROFILE=default forge test -vvv --gas-report
  
  test-zksync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: actions/checkout@v4
        with:
          repository: matter-labs/foundry-zksync
          ref: 'dev'
          path: 'foundry-zksync'

      - name: Install Foundry for zksync
        run: cd foundry-zksync && ./install-foundry-zksync
  
      - name: Run tests
        run: FOUNDRY_PROFILE=zksync forge test -vvv --zksync

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
      - name: Run coverage
        run: yarn coverage
      - uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  coverage-zksync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: actions/checkout@v4
        with:
          repository: matter-labs/foundry-zksync
          ref: 'dev'
          path: 'foundry-zksync'

      - name: Install Foundry for zksync
        run: cd foundry-zksync && ./install-foundry-zksync
      - name: Run coverage
        run: yarn coverage:zksync
      - uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
